<body background="assets/images/background.png">
<br><br><br><br><br><br>
<!-- Page Content -->
<div class="container" align="center">
        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="text-uppercase text-center"> Team Members!</h1>
          <p class="lead">
            Our team consist of 4 members who are pursuing software
            engineering technology in Centennial college.
          </p>
        </header>
        <!-- About Page -->
        <div class="row text-center">
          <div class="col-lg-4">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="assets/myself.jpg"
                alt="" height="500"
              />
              <div class="card-body">
                <p class="card-text">
                  Designer / Developer /Tester
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="assets/rajan.jpg"
                alt="" height="500"
              />
              <div class="card-body">
                <p class="card-text">
                  Developer / Tester / Mongo Specialist
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card h-100">
              <img class="card-img-top" src="assets/lin.jpg" alt="" height="500"  />
              <div class="card-body">
                <p class="card-text">
                  Developer / DB Admin / Business Analyst
                </p>
              </div>
            </div>
          </div>
        </div>
        <br>

        <!-- /.row -->
        <div align="center">
            <div class="col-lg-4">
                <div class="card h-100">
                  <img
                    class="card-img-top"
                    src="assets/images/male.jpg"
                    alt="" height="350"
                  />
                  <div class="card-body">
                    <p class="card-text">
                      Designer / Developer
                    </p>
                  </div>
                </div>
              </div>
        <!-- /.row -->
      </div>
    </div>
      <!-- /.container -->
    </body>
